body {
    background-color: black;
    color: white;
}

#fullscreen-container {
    width: 100%;
    height: 100vh;
}

.slideshow {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow img {
    max-width: 100%;
    max-height: 100%;
}

/* Add styles for the 'on' state of the buttons */
button[data-start="on"], button[data-stop="on"], button[data-loop="on"], button[data-random="on"], button[data-fullscreen="on"] {
    background-color: #2f2f31; 
    color: white;
}

/* Add styles for the 'off' state of the buttons */
button[data-start="off"], button[data-stop="off"], button[data-loop="off"], button[data-random="off"], button[data-fullscreen="off"] {
    background-color: #161617; 
    color: #B3B3B3; 
}

button {
    background-color: #161617; 
    color: #C9C9CD; 
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

button:hover {
    background-color: #212121; 
    color: white;
}

button:active {
    background-color: #000000; 
    color: white;
}

#fullscreen-container {
    position: relative;
}

#progress-bar-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #212121; 
    border-radius: 2px;
    border: 1px solid #000000; 
}

#progress-bar {
    height: 100%;
    width: 0;
    background-color: #696969; 
    border-radius: 2px;
}


#upload-button {
    font-size: 20px;
    color: #C9C9CD; 
    background-color: #161617; 
    border: none;
    padding: 10px 24px;
    border-radius: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 40px; /* Add this line to center the "+" vertically */
    text-align: center; /* Add this line to center the "+" horizontally */
}

#upload-button:hover {
    background-color: #212121; 
}

#upload-button:active {
    background-color: #000000; 
}

#delay {
    -webkit-appearance: none; /* This line removes the default dropdown arrow in Webkit browsers */
    -moz-appearance: none; /* This line removes the default dropdown arrow in Firefox */
    appearance: none; /* This line removes the default dropdown arrow in other browsers */
    padding: 10px;
    border-radius: 12px;
    background-color: #161617; 
    color: #C9C9CD; 
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align-last: center; /* Add this line to center the text */
}

#delay::-ms-expand {
    display: none; /* This line removes the default dropdown arrow in IE */
}

/* Add these lines to remove the default styling on focus */
#delay:focus {
    outline: none;
    box-shadow: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; /* Adjust this value to change the font size */
}

.arrow {
    font-size: 36px;
    color: #333333;
    position: absolute;
    top: calc(50% - 42px); /* Adjust this line */
    padding: 16px;
    cursor: pointer;
    user-select: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#arrow-left {
    left: 0;
}

#arrow-right {
    right: 0;
}

#fullscreen-container:hover .arrow {
    display: block;
}

#arrow-left:hover, #arrow-right:hover {
    opacity: 1;
}

button.touched {
    background-color: #333333; 
    color: white;
}

body {
    background-image: url('background.jpg');
    background-size: cover;  /* This will scale the background image to be as large as possible */
    background-repeat: no-repeat;  /* This will prevent the background image from repeating */
}
